.alert {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 8%;
	
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
	position: absolute;
	padding: 20px;
	border-radius: 8px;
	background-color: #fa756b;
	color: white;
	margin-bottom: 15px;
	
	opacity: 1;
	transition: opacity 1s;
	transition-property: all;
}

.alert:hover {
	background-color: #fc8e86;
	transition: ease-in-out 0.5s;
}

.errorMsg {
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
}

.closebtn {
	margin-left: 15px;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color:black;
}

.successNotif {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 8%;
	
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
	position: absolute;
	padding: 20px;
	border-radius: 8px;
	background-color: #65e084;
	color: white;
	margin-bottom: 15px;
	
	opacity: 1;
	transition: opacity 1s;
	transition-property: all;
}

.successNotif:hover {
	background-color: #71eb8f;
	transition: ease-in-out 0.5s;
}