#time {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	pointer-events: none;
	opacity: 50%;
	gap: 20px;
	left: 90%;
	top: 200px;
	
	font-family: 'Anton', sans-serif;
	font-weight: 500;
}

#time span {
	font-family: 'Anton', sans-serif;
	font-weight: 500;
}

#time div {
	font-family: 'Anton', sans-serif;
	font-weight: 500;
}