<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<title>Initializing Stage...</title>
	<link rel="stylesheet" th:href="@{/style.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">

</head>

<body>

	<header>
		<div class="teamInfo">
			<p th:text="${user.team} + '&emsp;' + '&emsp;' + '&emsp;' + '&emsp;' + ${user.currency}" >
		</div>
		<div class="navigation">
			<a href="/home" id ="style-2" data-replace="Home"><span>Home</span></a>
			<a href="/players" id ="style-2" data-replace="Players"><span>Players</span></a>
			<a href="/matchday" id ="style-2" data-replace="Let's start!"><span>Match-Day</span></a>
			<a href="" id ="style-2" data-replace="Stats"><span>Stats</span></a>
			<a href="" id ="style-2" data-replace="Logout"><span>Logout</span></a>
		
		</div>
	
	</header>
	
	<div class="playOptions">
		<a href="/matchday/predictOutcome" id="style-2">Play Match</a>
	</div>


</body>


</html>