<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>
  <meta charset="UTF-8"/>
  <title>Players</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <link rel="stylesheet" th:href="@{/alert-error.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>

	<header>
			<div class="teamInfo">
				<p th:text="'Team // &emsp;' +  ${user.team}  + '&emsp;' + '&emsp;' + '&emsp;' + '&emsp;' + 'Currency // &emsp;' + ${user.currency}" >
			</div>
			
			<div class = "alert" id="error" hidden="true">
				
				<span id = "errorMessage" >Error: Insufficient currency to recruit new player!</span>
				<span class="closebtn" id="close" onclick="this.parentElement.style.opacity=0;">&times;</span>	
			</div>
			
			<div class="navigation">
				<a href="/home" id ="style-2" data-replace="Home"><span>Home</span></a>
				<a href="/players" id ="style-2" data-replace="Players"><span>Players</span></a>
				<a href="/matchday" id ="style-2" data-replace="Let's start!"><span>Match-Day</span></a>
				<a href="" id ="style-2" data-replace="Stats"><span>Stats</span></a>
				<a href="" id ="style-2" data-replace="Logout"><span>Logout</span></a>
		
			</div>
		
	</header>
	
	<span id="currency" th:text="${user.getCurrency()}" hidden="true"></span>
	<span id="numPlayers" th:text="${players.size()}" hidden="true"></span>
	
	<a href="/players/addPlayer" class="button-49" onclick="">Add Random</a>
	
	<a href="#" class="button-49" onclick="validateCurrency()">Add Player</a>

	<table class="playerListTable">
	
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
		
			<tr th:each="tempPlayer : ${players}">
				<td th:text="${tempPlayer.id}"/>
				<td th:text="${tempPlayer.firstName}"/>
				<td th:text="${tempPlayer.lastName}"/>
			
				<td>
					<a th:href="@{/players/aboutPlayer(playerId=${tempPlayer.id})}"
					class="button-49">
					About
					</a>
					
					<a th:href="@{/players/updatePlayer(playerId=${tempPlayer.id})}"
					class="button-49">
					Update
					</a>
				
					<a th:href="'#'"
					class="button-49" th:id="${tempPlayer.id}" onclick="validateDelete(this.id)">
					Delete
					</a>
				</td>
			</tr>
			
		</tbody>
	
	
	</table>
	
	<script type="text/javascript">
	function validateCurrency() {
		const curr = document.getElementById("currency").innerHTML;
		var error = document.getElementById("error");
		var closeBtn = document.getElementById("close");
		var errorMessage = document.getElementById("errorMessage");
		
		if (+curr > 300) {
			const url = new URL('http://localhost:8080/players/addPlayer');
			console.log("hello");
			window.location = url;
		}
		else {
			console.log(+curr);
			errorMessage.innerHTML = "Error: Insufficient currency to recruit new player!";
			closeBtn.parentElement.hidden = false;
			closeBtn.parentElement.style.opacity = "100";
			closeBtn.parentElement.style.display = "initial";
		}
	}
	</script>
	
	<script type="text/javascript">
	
	function validateDelete(btnId) {
		const numPlayers = document.getElementById("numPlayers").innerHTML;
		var closeBtn = document.getElementById("close");
		var errorMessage = document.getElementById("errorMessage");
		
		if (numPlayers-1 < 3) {
			console.log("Unable to delete: " + btnId);
			errorMessage.innerHTML = "Error: Unable to delete (Min Players: 3)";
			closeBtn.parentElement.hidden = false;
			closeBtn.parentElement.style.opacity = "100";
			closeBtn.parentElement.style.display = "initial";
			
		}
		else {
			console.log("Able to delete: " + btnId);
			const url = new URL('http://localhost:8080/players/deletePlayer');
			url.searchParams.append("playerId", btnId);
			window.location = url;
		}
	}
	
	</script>
</body>


</html>