<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">


<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>

	<header>
			<div class="logoBox">
				<img alt="" src="/images/logo.png">
				<span class="logoText">SIMULATOR</span>
			</div>
			
			<div class="teamInfo">
				<p th:text="'Player ID' + ${player.id} + ' // ' + ${player.firstName} + ' ' + ${player.lastName}">
			</div>
			
			<div class="navigation">
				<a href="/home" id ="style-2" data-replace="Home"><span>Home</span></a>
				<a href="/players" id ="style-2" data-replace="Players"><span>Players</span></a>
				<a href="/matchday" id ="style-2" data-replace="Let's start!"><span>Match-Day</span></a>
				<a href="" id ="style-2" data-replace="Stats"><span>Stats</span></a>
				<a href="" id ="style-2" data-replace="Logout"><span>Logout</span></a>
			
			</div>
			
	</header>
	
	<span id="span_id" th:text="${player.head}" hidden="true"></span>
	<span id="dates" th:text="${dates}" hidden="true"></span>
	<span id="goals" th:text="${goals}" hidden="true"></span>


	<div class="playerTitle">
		
		<span class="playerHeader" th:text="${player.firstName} + ' ' + ${player.lastName}"></span>
		<img id="hair" class="imgHair">
		<img class="imgBody" alt="/images/1-body.png" src="/images/1-body.png">
	
	</div>
	
	<table class="playerStatTable">

		<thead>
			<tr>
				<th>Statistics</th>
				<th></th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Goals</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<th th:text="${player.id}"></th>
				<th th:text="${player.playerStats.getGoals()}"></th>
			</tr>
			
		</tbody>


	</table>
	
	<div class="plot" id="tester" style="position: fixed; transform: translate(-50%, -50%); left: 1000px; top:750px;"></div>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var data = {
			x: /*[[${dates}]]*/,
			y: /*[[${goals}]]*/,
			type: 'bar',
			title: "Hello",
			width: 50000000,
			marker: {
			    color: 'rgb(158,202,225)',
			    line: {
			      color: 'rgb(8,48,107)',
			      width: 0.5
			    }
			  }
		};
		
		var layout = {
				  title: 'Player Goals By Date'
		};
		TESTER = document.getElementById('tester');
		Plotly.newPlot(TESTER, [data], layout);
		/*]]>*/
	</script>
	
	<script type="text/javascript">
		function init() {document.getElementById("hair").src="/images/" + document.getElementById("span_id").innerHTML + "-hair.png"};
	  	window.onload = init;
	</script>
	
</body>


</html>