<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>

	<meta charset="UTF-8"/>
	<title>Player Database</title>
	<link rel="stylesheet" th:href="@{/style.css}"/>
	<link rel="stylesheet" th:href="@{/time.css}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<div class="logoBox">
			<img alt="" src="/images/logo.png">
			<span class="logoText">SIMULATOR</span>
		</div>
		
		<div class="teamInfo">
			<span id="teamIcon" th:text=" '&nbsp;' + '&nbsp;' + '&nbsp;' + '&nbsp;' + ${user.team}"></span>
			<span id="currencyIcon" th:text="'&nbsp;' + '&nbsp;' + '&nbsp;' + '&nbsp;' + ${user.currency}"></span>
		</div>
		
		
		<div class="navigation">
			<a href="/home" id ="homeHref" data-replace="Home"><span>Home</span></a>
			<span id="homeOption"></span>
			<a href="/players" id ="playerHref" data-replace="Players"><span>Players</span></a>
			<span id="playersOption"></span>
			<a href="/matchday" id ="matchdayHref" data-replace="Let's start!"><span>Match-Day</span></a>
			<span id="matchdayOption"></span>
			<a href="" id ="statsHref" data-replace="Stats"><span>Stats</span></a>
			<span id="statsOption"></span>
			<a href="#" onclick="addSortMethod()" id ="databaseHref" data-replace="Player Database"><span>Player Database</span></a>
			<span id="databaseOption"></span>
			<form th:action="@{/logout}"  method="POST" id="logoutForm">
				<div class="logoutButton">
					<input id="logout" type="submit" value="Logout" data-replace="Logout">
				</div>
			</form>
			<span id="logoutOption"></span>
			
			
			<div id="time">
				<div class="circle">
					<div id="hours">00</div>
				</div>
				<span>:</span>
				<div class="circle">
					<div id="minutes">00</div>
				</div>
				<span>:</span>
				<div class="circle">
					<div id="seconds">00</div>
				</div>
				
				<div class="ap">
					<div id="ampm">AM</div>
				</div>
			</div>
		
		</div>
	
	</header>
	
	<span id="playersTableHeading">Player Database</span>
	
	<table class="playerListTable">
	
		<thead>
			<tr>
				<td onclick="addSortMethod('id')" class="table-col">ID</td>
				<th>Team</th>
				<td onclick="addSortMethod('firstName')" class="table-col">First Name</td>
				<td onclick="addSortMethod('lastName')" class="table-col">Last Name</td>
			</tr>
		</thead>
		
		<tbody>
		
			<tr th:each="tempPlayer : ${players}">
				<td th:text="${tempPlayer.id}"/>
				<td th:text="${tempPlayer.user.getTeam()}"/>
				<td th:text="${tempPlayer.firstName}"/>
				<td th:text="${tempPlayer.lastName}"/>
			</tr>
			
		</tbody>
	
	
	</table>
	
	<footer>
		<hr>
		<a href="https://github.com/jcerva2338/spring-personal-project" class="footer-link">GitHub</a> 
		<span id="githubLogo"></span>
		
		<a href="https://www.linkedin.com/in/john-cervantes-387b901a1/" class="footer-link">LinkedIn</a> 
		<span id="linkedinLogo"></span>
	</footer>

	<script type="text/javascript">
		function addSortMethod(method) {
			const url = new URL("http://localhost:8080/database");
			url.searchParams.append("sortBy", method);
			window.location = url;
		}
	</script>
	
	<script type="text/javascript">
		setInterval(() => {
			let hrs = document.getElementById('hours');
			let mins = document.getElementById('minutes');
			let secs = document.getElementById('seconds');
			let ampm = document.getElementById('ampm');
			
			let h = new Date().getHours();
			let m = new Date().getMinutes();
			let s = new Date().getSeconds();
			let am = h >= 12 ? "PM" : "AM";
			
			// convert 24hr clock to 12hr clock
			if (h > 12) {
				h = h - 12;
			}
			
			// add zero before single digit number
			h = (h < 10) ? "0" + h : h;
			m = (m < 10) ? "0" + m : m;
			s = (s < 10) ? "0" + s : s;
			
			hrs.innerHTML = h;
			mins.innerHTML = m;
			seconds.innerHTML = s;
			ampm.innerHTML = am;
		})
	
	</script>
	
</body>
</html>