<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registration in progress...</title>
	<link rel="stylesheet" th:href="@{/register.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

		<div>
			<h1>Register for Blue Lock</h1>
		</div>
		
		<form th:action="@{/register/process-registration}" th:object="${user}"
			method="POST" style="max-width: 600px; margin: 0 auto;">
				<div class="inputBox">
					<input type="text" th:field="*{username}" class="form-control" required />
					<span>Username</span>
					<i></i>
				</div>
			
				<div class="inputBox">
					<input type="password" th:field="*{password}" class="form-control" id="pswrd" onkeyup="checkPassword(this.value)" required />
					<span id="toggleBtn"></span>
					<span>Password</span>
					<i></i>
				</div>
				
				<div class="validation">
				
					<ul>
					
						<li id="lower">At least one lowercase character</li>
						<li id="upper">At least one uppercase character</li>
						<li id="number">At least one number</li>
						<li id="special">At least one special character</li>
						<li id="length">At least 8 characters</li>
						
						
					
					</ul>
				
				</div>
			
				<div class="inputBox">
					<input type="text" th:field="*{email}" class="form-control" required="required"/>
					<span>Email</span>
					<i></i>
				</div>
			
				<div class="inputBox">
					<input type="text" th:field="*{team}" class="form-control" required="required"/>
					<span>Team Name</span>
					<i></i>
				</div>
					
				<div>
					<button type="submit" class="btn btn-primary disabled" id="submit">Sign up</button>
				</div>
			
		</form>
		
		<script type="text/javascript">
			let pswrd = document.getElementById("pswrd");
			let toggleBtn = document.getElementById("toggleBtn");
			let submitBtn = document.getElementById("submit");
			
			let lowerCase = document.getElementById("lower");
			let upperCase = document.getElementById("upper");
			let digit = document.getElementById("number");
			let specialChar = document.getElementById("special");
			let minLength = document.getElementById("length");
			
			function checkPassword(data) {
				// javascript regex pattern
				const lower = new RegExp('(?=.*[a-z])');
				const upper = new RegExp('(?=.*[A-Z])');
				const number = new RegExp('(?=.*[0-9])');
				const special = new RegExp('(?=.*[!@#\$%\^&\*])');
				const length = new RegExp('(?=.{8,})');
				
				// lower case validation check
				if (lower.test(data)) {
					lowerCase.classList.add('valid');
				}
				else {
					lowerCase.classList.remove('valid');
				}
				
				// upper case validation check
				if (upper.test(data)) {
					upperCase.classList.add('valid');
				}
				else {
					upperCase.classList.remove('valid');
				}
				
				// number validation check
				if (number.test(data)) {
					digit.classList.add('valid');
				}
				else {
					digit.classList.remove('valid');
				}
				
				// special char validation check
				if (special.test(data)) {
					specialChar.classList.add('valid');
				}
				else {
					specialChar.classList.remove('valid');
				}
				
				// length validation check
				if (length.test(data)) {
					minLength.classList.add('valid');
				}
				else {
					minLength.classList.remove('valid');
				}
				
				if (lower.test(data) && upper.test(data) && number.test(data) && special.test(data) && length.test(data)) {
					submitBtn.classList.remove('disabled');
				}
				else {
					submitBtn.classList.add('disabled');
				}
			}
			
			// show/hide password
			toggleBtn.onclick = function () {
				if (pswrd.type === 'password') {
					pswrd.setAttribute('type', 'text');
					toggleBtn.classList.add('hide');
				} else {
					pswrd.setAttribute('type', 'password');
					toggleBtn.classList.remove('hide');
				}
			}
		</script>
	
	
	

</body>


















</html>